.aside .logo a::before {
  border-top: 4px solid rgb(248, 132, 171);
  border-left: 4px solid rgb(248, 132, 171);
}

.aside .logo a::after {
  border-right: 4px solid rgb(248, 132, 171);
  border-bottom: 4px solid rgb(248, 132, 171);
}


.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fa,
button.active .icon .fa .contact-info-item .contact,
.about .about-content .about-text h3 span,
body .dark .aside .nav li a:hover,
body .dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active {
  color: rgb(248, 132, 171);
}



.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline-item::before,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
  background-color: rgb(248, 132, 171);
}

.contact .contact-info-item .icon .fa {
  color: rgb(245, 170, 195);
}

.btn {
  background-color: rgb(224, 170, 188);
}

.portfolio .portfolio-filter button.active{
  border-color:  rgb(248, 132, 171);
}
